<div class="row">	
	<div class="col-md-6">
	<h2>Consumir ApiRest/Paises</h2>
		<form>
			<div class="form-group">
				<label for="nombre">Nombre:</label>
				<input type="text" class="form-control" [(ngModel)]="contacto.nombre" name="nombre">
			</div>

			<div class="form-group">
				<label for="ciudad">Ciudad:</label>
				<input type="text" class="form-control" [(ngModel)]="contacto.ciudad" name="ciudad">
			</div>

			<div class="form-group">
			<select [(ngModel)]="contacto.Pais" name="pais">
			  <option value="">Selecciona un pais</option>
			  <option *ngFor="let pais of paises;" [value]="pais.name">{{pais.name}}</option>
			</select>
			</div>
		</form>	
		{{contacto | json}}
		<!--{{paises | json}}-->
	</div>
</div>
